[user]
	email = jeanb.rocher@gmail.com
	name = Jean-Baptiste Rocher
[core]
	excludesfile = /home/jb/.gitignore
	editor = nvim
[alias]
  cm = commit -m 
  lg = log --graph --abbrev-commit --pretty=oneline --decorate --date=relative -10 --format=format:'%C(bold blue)%h%C(reset) %C(bold yellow)%d%C(reset) %C(white)%s%C(reset) %C(green)(%ar)%C(reset) %C(dim white)- %an%C(reset)'
  st = status
  co = checkout
